@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto-Regular'),
    local('Roboto-Regular'),
    url(../css/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('OpenSans-Regular'),
    local('OpenSans-Regular'),
    url(../css/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), 
      local('OpenSans-Light'), 
      url(../css/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), 
  local('OpenSans-Bold'), u
  url(../css/fonts/OpenSans-Bold.ttf) format('woff');
}




.ui-page, .ui-mobile-viewport {
    /*background: transparent url(../img/bg_blue.png);*/
    /*background-size: contain !important;*/
    background: #ecf0f1;
}
/* Header */
.jqm-demos .jqm-header {
    background: #3498db;
    height: 50px;
    border-top: 4px solid #2980b9;
    border-bottom-color: #eee;
}

.jqm-demos .jqm-header h2 {
    padding: .4em 0 .1em;
    margin: 0 3em;
}
.jqm-demos .jqm-header h2 a {
    display: inline-block;
    text-decoration: none;
    min-height: 40px;
}
.jqm-demos .jqm-header h2 img {
    display: block;
    width: 140px;
    height: auto;
}
.jqm-demos .jqm-header h2 > img {
    display: inline-block;
}
.jqm-demos .jqm-header p {
    position: absolute;
    bottom: -2em;
    left: 1em;
    margin: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

/* Footer */
.jqm-demos .jqm-footer.ui-footer {
  position: absolute;
  bottom: 0;
  padding-bottom: 0;
  background-color: #3498db;
}
.jqm-demos .jqm-footer {
  border-top: 2px solid #2980b9;
}
.jqm-demos .jqm-footer p {
  font-size: .8em;
  color: #ecf0f1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 1.25em 1.25em;
}
.jqm-demos .jqm-footer p:first-child {
  font-size: 1em;
  color: #ecf0f1;
  font-weight: 400;
  margin: 1em 1em .75em;
}


/* Content */
.jqm-demos .jqm-content {
  padding-top: 3em;
}

.jqm-demos .jqm-content > h1,
.jqm-demos .jqm-content > h2,
.jqm-demos .jqm-content > h3,
.jqm-demos .jqm-content > p,
.jqm-demos .jqm-content > ul li,
.jqm-demos .jqm-content > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.jqm-demos .jqm-content > h1 {
  font-size: 2.4em;
  margin: 0 0 .625em;
}
.jqm-demos .jqm-content > h2 {
  color: #2980b9;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
  font-size: 1.6em;
  padding-bottom: .2em;
  margin: 0 0 .7375em;
}
.jqm-demos .jqm-content > h3 {
  color: #3eb249;
  background-color: transparent;
  font-size: 1.4em;
  margin: 0 0 1em;
}
.jqm-demos .jqm-content > p {
  font-size: 1.2em;
  line-height: 1.5;
}
.jqm-demos .jqm-content strong {
  font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
  font-weight: 400;
}

.jqm-demos .jqm-content > ul,
.jqm-demos .jqm-content > ol {
  padding-left: 1.3em;
}
.jqm-demos .jqm-content > .ui-listview {
  padding-left: 0;
}
.jqm-demos .jqm-content > a,
.jqm-demos .jqm-content > p a,
.jqm-demos .jqm-content > ul:not(.jqm-list) li a {
  font-weight: 400;
  text-decoration: none;
}
.jqm-demos .jqm-content strong {
  font-weight: 700;
}
.jqm-demos .jqm-content > p strong {
  font-weight: 400;
}


.jqm-block-content {
  margin: .5em;
  padding: 1em;
  background: #fff;
  border: 1px solid #eee;
  -webkit-border-radius: .3125em;
  border-radius: .3125em;
  font-family: 'Open Sans', sans-serif;
}
.jqm-block-content h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #3eb249;
  border-bottom: 1px solid #ddd;
  padding-bottom: .25em;
  margin: 0 0 .5em;
}
.jqm-block-content p {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.4;
  margin: .7em 0;
}
.jqm-block-content p:last-child {
  margin-bottom: 0;
}
.jqm-block-content a:link {
  font-weight: 300;
  text-decoration: none;
}



/* Navmenu */
.jqm-navmenu-panel .ui-listview > li .ui-collapsible-heading {
  margin: 0;
}
.jqm-navmenu-panel .ui-collapsible.ui-li-static {
  padding: 0;
  border: none !important;
}
.jqm-navmenu-panel .ui-collapsible + li > .ui-btn,
.jqm-navmenu-panel .ui-collapsible + .ui-collapsible > .ui-collapsible-heading > .ui-btn,
.jqm-navmenu-panel .ui-panel-inner > .ui-listview > li.ui-first-child .ui-btn {
  border-top: none !important;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn {
  padding-left: 1.5em;
  color: #999;
}
.jqm-navmenu-panel .ui-listview .ui-listview .ui-btn.ui-btn-active {
  color: #fff;
}
.jqm-navmenu-panel .ui-btn:after {
  opacity: .4;
  filter: Alpha(Opacity=40);
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav {
  display: none;
  position: absolute;
  top: 178px;
  left: 12px;
}
.jqm-demos .jqm-navmenu-panel.jqm-panel-page-nav ul li:first-child a{
  border-top: none;
}



.quiz-button, .ui-btn .quiz-button  {
  background: transparent url(../img/small_only.png) no-repeat !important;
  background-size: contain !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.quiz-button .ui-btn-inner {
  background: transparent url(../img/small_only.png) no-repeat !important;
  background-size: contain !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 30px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.quiz-button .ui-icon {
  display: none;
}

.correct-button, .ui-btn .correct-button  {
  background: transparent url(../img/small_only_green.png) no-repeat !important;
  background-size: contain !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.correct-button .ui-btn-inner {
  background: transparent url(../img/small_only_green.png) no-repeat !important;
  background-size: contain !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 30px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.correct-button .ui-icon {
  display: none;
}

.wrong-button, .ui-btn .wrong-button  {
  background: transparent url(../img/small_only_orange.png) no-repeat !important;
  background-size: contain !important;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      border-radius: 0 !important;
  border: 0 none !important;
  height: 45px;
}

.wrong-button .ui-btn-inner {
  background: transparent url(../img/small_only_orange.png) no-repeat !important;
  background-size: contain !important;
  margin: 0 0 0 15px;
  padding: 0 8px 0 0 !important;
  height: 30px;
  line-height: 30px;
    -webkit-box-shadow: none !important; 
    -moz-box-shadow: none !important; 
    box-shadow: none !important;
}

.wrong-button .ui-icon {
  display: none;
}



/* Button A - HTML */
 .ui-btn.ui-btn-a,
 .ui-btn.ui-btn-a:visited,
 .ui-btn.ui-btn-a:hover,
 .ui-btn.ui-btn-a:active,
 .ui-btn.ui-btn-a.ui-btn-active{
  background: #ecf0f1;
  border-color: #ecf0f1;
  color: #2c3e50;
  text-shadow: 0 1px 0 #cc0099;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #bdc3c7;
}


/* Button B - HTML */
 .ui-btn.ui-btn-b,
 .ui-btn.ui-btn-b:visited,
 .ui-btn.ui-btn-b:hover,
 .ui-btn.ui-btn-b:active,
 .ui-btn.ui-btn-b.ui-btn-active{
  background: #34495e;
  border-color: #34495e;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #cc0099;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #2c3e50;
}

/* Button C - HTML */
 .ui-btn.ui-btn-c,
 .ui-btn.ui-btn-c:visited,
 .ui-btn.ui-btn-c:hover,
 .ui-btn.ui-btn-c:active,
 .ui-btn.ui-btn-c.ui-btn-active {
  background: #3498db;
  border-color: #3498db;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #0033cc;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #2980b9;
}


/* Button D - PHP */
 .ui-btn.ui-btn-d,
 .ui-btn.ui-btn-d:visited,
 .ui-btn.ui-btn-d:hover,
 .ui-btn.ui-btn-d:active,
 .ui-btn.ui-btn-d.ui-btn-active {
  background: #e74c3c;
  border-color: #e74c3c;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #ff0000;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #c0392b;
}

/* Button E - JS */
 .ui-btn.ui-btn-e,
 .ui-btn.ui-btn-e:visited,
 .ui-btn.ui-btn-e:hover,
 .ui-btn.ui-btn-e:active,
 .ui-btn.ui-btn-e.ui-btn-active {
  background: #2ecc71;
  border-color: #2ecc71;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #108040;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #27ae60;
}

/* Button F - JS */
 .ui-btn.ui-btn-f,
 .ui-btn.ui-btn-f:visited,
 .ui-btn.ui-btn-f:hover,
 .ui-btn.ui-btn-f:active,
 .ui-btn.ui-btn-f.ui-btn-active {
  background: #1abc9c;
  border-color: #1abc9c;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #108040;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #16a085;
}


/* Button G - CSS */
 .ui-btn.ui-btn-g,
 .ui-btn.ui-btn-g:visited,
 .ui-btn.ui-btn-g:hover,
 .ui-btn.ui-btn-g:active,
 .ui-btn.ui-btn-g.ui-btn-active {

  background-color: #e67e22;
  border-color: #e67e22;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #cc0099;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #d35400;
}


/* Button H - CSS */
 .ui-btn.ui-btn-h,
 .ui-btn.ui-btn-h:visited,
 .ui-btn.ui-btn-h:hover,
 .ui-btn.ui-btn-h:active,
 .ui-btn.ui-btn-h.ui-btn-active{
  background: #9b59b6;
  border-color: #9b59b6;
  color: #ecf0f1;
  text-shadow: 0 1px 0 #cc0099;
  text-align: center;
  border-radius: 5px;
  border-bottom: 3px solid #8e44ad;
}




/**
 * SyntaxHighlighter
 * http://alexgorbatchev.com/SyntaxHighlighter
 *
 * SyntaxHighlighter is donationware. If you are using it, please donate.
 * http://alexgorbatchev.com/SyntaxHighlighter/donate.html
 *
 * @version
 * 3.0.83 (July 02 2010)
 *
 * @copyright
 * Copyright (C) 2004-2010 Alex Gorbatchev.
 *
 * @license
 * Dual licensed under the MIT and GPL licenses.
 */
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  background: none;
  border: 0;
  bottom: auto;
  float: none;
  left: auto;
  height: auto;
  line-height: 18px;
  margin: 0;
  outline: 0;
  overflow: visible;
  padding: 0;
  position: static;
  right: auto;
  text-align: left;
  top: auto;
  vertical-align: baseline;
  width: auto;
  box-sizing: content-box;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  min-height: inherit;
  min-height: auto;
}
.syntaxhighlighter {
  width: auto;
  margin: 0;
  padding: 1em 0;
  position: relative;
  overflow: auto;
  font-size: 13px;
}
.syntaxhighlighter.source {
  overflow: hidden;
}
.syntaxhighlighter .bold {
  font-weight: bold;
}
.syntaxhighlighter .italic {
  font-style: italic;
}
.syntaxhighlighter .line {
  white-space: pre;
  white-space: pre-wrap;
}
.syntaxhighlighter table {
  width: 100%;
}
.syntaxhighlighter table caption {
  text-align: left;
  padding: .5em 0 0.5em 1em;
}
.syntaxhighlighter table td.code {
  width: 100%;
}
.syntaxhighlighter table td.code .container {
  position: relative;
}
.syntaxhighlighter table td.code .container textarea {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: white;
  padding-left: 1em;
  overflow: hidden;
  white-space: pre;
}
.syntaxhighlighter table td.gutter .line {
  text-align: right;
  padding: 0 0.5em 0 1em;
}
.syntaxhighlighter table td.code .line {
  padding: 0 1em;
}
.syntaxhighlighter.show {
  display: block;
}
.syntaxhighlighter.collapsed table {
  display: none;
}
.syntaxhighlighter .line.alt1 {
  background-color: transparent;
}
.syntaxhighlighter .line.alt2 {
  background-color: transparent;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
  background-color: #253e5a;
}
.syntaxhighlighter .line.highlighted.number {
  color: #38566f;
}
.syntaxhighlighter table caption {
  color: #d1edff;
}
.syntaxhighlighter .gutter {
  color: #afafaf;
}
.syntaxhighlighter .gutter .line {
  border-right: 3px solid #435a5f;
}
.syntaxhighlighter .gutter .line.highlighted {
  background-color: #435a5f;
  color: #0f192a;
}
.syntaxhighlighter.collapsed {
  overflow: visible;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
  color: #eee;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
  color: #5ba1cf;
}
.syntaxhighlighter .string {
  color: #98da31;
}
.syntaxhighlighter .string a {
  color: #1dc116;
}
.syntaxhighlighter .keyword {
  color: #ffae00;
}
.syntaxhighlighter .preprocessor {
  color: #8aa6c1;
}
.syntaxhighlighter .variable {
  color: #ffaa3e;
}
.syntaxhighlighter .value {
  color: #f7e741;
}
.syntaxhighlighter .functions {
  color: #ffaa3e;
}
.syntaxhighlighter .constants {
  color: #e0e8ff;
}
.syntaxhighlighter .script {
  font-weight: bold;
  color: #b43d3d;
  background-color: none;
}
.syntaxhighlighter .color1 {
  color: #8df;
}
.syntaxhighlighter .color1 a {
  color: #f8bb00;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
  color: white;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
  color: #ffaa3e;
}
.syntaxhighlighter table td.code {
  cursor: text;
}
.syntaxhighlighter table td.code .container textarea {
  background: #eee;
  white-space: pre;
  white-space: pre-wrap;
}
.syntaxhighlighter ::-moz-selection {
  background-color: #3399ff;
  color: #fff;
  text-shadow: none;
}
.syntaxhighlighter ::-webkit-selection {
  background-color: #3399ff;
  color: #fff;
  text-shadow: none;
}
.syntaxhighlighter ::selection {
  background-color: #3399ff;
  color: #fff;
  text-shadow: none;
}


#confetti {
  visibility:visible;
  position: fixed;
  left: 0em;
  top: 0em;
  z-index: -1;
  width: 100%;
  height: 100%;
}